*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
h3,h5{
    font-weight: normal;
}
.shopimg{
    height: 4.68rem;
    background-image: url("../img/ShopComment/图层1.png");
    padding: 0 0.24rem;
}
.shopimg .Nav {
    width: 100%;
    height: 0.88rem;
    display: flex;
    justify-content: space-between;
}
.Nav i{
    font-size: 0.5rem;
    line-height: 0.88rem;
    color: #ffffff;
}
.Nav a{
    display: flex;
}
.Nav .ibox{
    display: flex;
    justify-content: flex-end;
}
.ibox i{
    margin-left: 0.3rem;
}
.shopNameBox{
    width: 100%;
    height: 3.1rem;
    padding-top: 0.3rem;
}
.shopNameBox .shopNameTop{
    padding-left: 0.4rem;
    padding-right: 0.24rem;
    width: 100%;
    height: 1.5rem;
    border-bottom: 0.02rem solid #dcdfde;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.shopNameTop .topL{
    height: 100%;
    width: 3rem;
}
.topL{
    font-size: 0.3rem;
}
.topL h3,.price{
    font-size: 0.4rem;
}
.topL .price{
    color: #e80113;
}
.shopNameTop .topR{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}
.topR .icon-lianximaijia{
    position: absolute;;
    top: 0;
}
.topR .jiarugouwuche{
    width: 2rem;
    height: 0.4rem;
    background: #00ff9c;
    border-radius: 0.5rem;
    display: flex;
    font-size: 0.2rem;
    line-height: 0.4rem;
    margin-bottom: 0.2rem;
}
.jiarugouwuche i{
    margin-left: 0.2rem;
    font-size: 0.3rem;
}
.shopNameBottom{
    flex-grow: 1;
    padding: 0 0.24rem;
}
.shopNameBottom h3{
    margin-top: 0.1rem;
    font-size: 0.4rem;
}
.shopNameBottom p{
    margin-top: 0.1rem;
    font-size: 0.3rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.hr{
    width: 100%;
    height: 0.1rem;
    background: #dcdfde;
}
.pinlun{
    height: auto;
    padding: 0 0.24rem;
}
.pinlun .pinlinTitle{
    width: 100%;
    height: 0.52rem;
    border-bottom: 0.01rem solid #dcdfde;
    box-sizing: border-box;
    display: flex;
}
.pinlinTitle h3{
    font-size: 0.3rem;
    margin-right: 0.3rem;
    line-height: 0.52rem;
}
.pinlinTitle li{
    font-size: 0.3rem;

}
.pinlinTitle .red{
    color: red;
}
.pinlun .titleBox{
    width: 100%;
    height: 1.1rem;
    display: flex;
    border-bottom: 0.01rem solid #dcdfde;
    box-sizing: border-box;
    padding: 0.01rem 0;
}
.titleBox .userPhoto{
    width: 0.68rem;
    height: 0.68rem;
    margin-top: 0.2rem;
}
.titleBox .boxR{
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 0.2rem;
}
.titleBox .userName{
    display: flex;
    justify-content: space-between;
}
.userName h3{
    font-size: 0.3rem;
}
.userName .time{
    justify-content: flex-end;
}
.titleBox p{
    font-size: 0.2rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.titleBox img{
    width: 1.5rem;
    height: 0.25rem;
}
.tab{
    height: 0.98rem;
    position: fixed;
    bottom: 0;
    display: flex;
    z-index: 999;
}
.tab .tabL{
    width: 5.9rem;
    height: 100%;
    background: #4e4e4e;
    position: relative;
}
.tabL li{
    font-size: 0.3rem;
    line-height: 0.98rem;
    margin-left: 1.5rem;
    color: #828282;
}
.tab a{
    height: 100%;
    width: 1.6rem;
    background: #8d8c8c;
    font-size: 0.3rem;
    line-height: 0.98rem;
    text-align: center;
}
.icon-gouwuchekong{
    position: fixed;
    left: 0.5rem;
    bottom: 0.3rem;
    width: 1rem;
    height: 1rem;
    background: #8d8c8c;
    border-radius: 100%;
    text-align: center;
    line-height: 1rem;
    color: #ffffff;
    z-index: 999;
}